[pull]
    ff = only
[rerere]
    enabled = true
[include]
    path = ~/.gitconfig.local
[alias]
    # Rewrites author/committer identity in history. Uses the deprecated
    # `git filter-branch`; prefer `git-filter-repo` for new history rewrites.
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
[protocol "file"]
    allow = always
[pager]
    diff = false
[diff]
    # external = difft
[credential "https://github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential
[core]
	excludesfile = /Users/ricardo.rocha/.gitignore_global
